<ion-header>
  <ion-navbar>
      <ion-title>
          ToDo - List
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-input [(ngModel)]="todo" placeholder="Digite algo aqui" type="text"></ion-input>
  </ion-item>
<div *ngIf="novo === 0">
  <button ion-button full (click)="add()">Adcionar</button>
</div>
<div *ngIf="novo === 1">
  <button ion-button full (click)="modificar()">Modificar</button>
</div>
  <ion-list *ngFor="let item of todos">

    <ion-checkbox name="chk"></ion-checkbox>
    {{item}}

    <button ion-button (click)='editar(item)'>Editar</button>
    <button ion-button color="danger" (click)='delete(item)' >Excluir</button>
   </ion-list>
</ion-content>


